In [1]:
import mysql.connector as sql

In [ ]:
connection = sql.connect(host = "localhost",
                         user = "root",
                         password = "12345"
                         )

# another parameter of sql is databases in which we can specify the

In [ ]:
print(connection)

In [ ]:
cursor = connection.cursor()

cursor.execute(" CREATE DATABASE new_dummy")

cursor.execute(" SHOW DATABASES")

In [ ]:
for curs in cursor:
    print(curs)

In [ ]:
cursor.execute("DROP DATABASE new_dummy")

In [ ]:
cursor.execute("SHOW DATABASES")

In [ ]:
for curs in cursor:
    print(curs)

In [2]:
connection = sql.connect(host = "localhost",
                         user = "root",
                         password = "12345",
                         database = 'dummy')

In [4]:
cursor = connection.cursor()

In [6]:
# cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [7]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"

values = ("Anshul", "data science")

cursor.execute(query, values)

In [8]:
cursor.execute("Select * from studentinfo")

cursor.fetchall()

[(4, 'Anshul', 'data science')]